body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
  text-align: center;
}

p {
  text-align: center;
}

h3 {
  left: 20px;
}
/* Table */
table,
th,
td {
  border: 1px solid black;
}

#readmore {
  color: white;
}
